.slider {
    margin: 2rem; /* Center the container horizontally */
    height: 240px;
    width: 750px;
  }
  .slider p{
    padding-top: 1rem;
    padding-left: 16rem;
    color: rgba(105, 104, 104, 0.694);
  }
  .carrousel{
    padding: 2px;
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .carrousel::-webkit-scrollbar {
    display: none;
  }